.box {
  height: calc(100vh - 50px - 50px);
  position: absolute;
  top: 50px;
}
.msg_area {
  height: 100%;
}
.input_area {
  position: absolute;
  top: 100%;
  background-color: rgb(59, 190, 255);
  padding-block: 5px;
}
input {
  box-shadow: 0 0 0 2pt rgba(100, 100, 200, 0.5);
}

.user {
  top: -20px;
}

.typing > .user {
  top: 6px;
}
.typing > span {
  display: inline-block;
}
